.detail {
  padding: 0.2em;
  position: sticky;
  top: 4rem;
}

.video {
}

.title {
  font-size: 1.5rem;
}

.channelTitle {
  color: gray;
}

.description {
  white-space: pre-wrap;
  height: auto;
  max-height: 300px;
  overflow: auto;
  border: 1px solid gray;
}
